{% include 'php-auth/header.html' with {subtitle: translate('Change name')} %}
<h2 class="text-secondary font-condensed-light">
  <i class="fa fa-user fa-sm me-2" aria-hidden="true"></i>{{ translate('Change name') }}
</h2>
{% include 'php-auth/message.html' %}
<form class="row g-3 ajax" action="{{ route }}?auth=change-name" method="POST" id="auth">
  <div class="col-12">
    <input class="form-control shadow-none" required type="text" placeholder="{{ translate('New name') }}" value="{{ new_name }}" name="new_name" id="new_name">
  </div>
  <div class="col-12">
    <button class="btn btn-primary bg-gradient shadow w-100 p-2" type="submit">
      <i class="fa fa-save fa-sm me-2" aria-hidden="true"></i>{{ translate('Save') }}
    </button>
  </div>
</form>
{% include 'php-auth/footer.html' %}
