{% include 'php-auth/header.html' with {subtitle: translate('Change password')} %}
<h2 class="text-secondary font-condensed-light">
  <i class="fa fa-key fa-sm me-2" aria-hidden="true"></i>{{ translate('Change password') }}
</h2>
{% include 'php-auth/message.html' %}
<form class="row g-3 ajax" action="{{ route }}?auth=change-password" method="POST" id="auth">
  <div class="col-12">
    <input class="form-control shadow-none" required type="password" placeholder="{{ translate('Old password') }}" name="old_password" id="old_password">
  </div>
  <div class="col-12">
    <input class="form-control shadow-none" required type="password" placeholder="{{ translate('New password') }}" name="password1" id="password1">
  </div>
  <div class="col-12">
    <input class="form-control shadow-none" required type="password" placeholder="{{ translate('Confirm password') }}" name="password2" id="password2">
  </div>
  <div class="col-12">
    <small class="text-secondary">{{ translate('Use eight or more characters') }}</small>
  </div>
  <div class="col-12">
    <button class="btn btn-primary bg-gradient shadow w-100 p-2" type="submit">
      <i class="fa fa-save fa-sm me-2" aria-hidden="true"></i>{{ translate('Save') }}
    </button>
  </div>
</form>
{% include 'php-auth/footer.html' %}
