{% include 'php-auth/header.html' with {subtitle: translate('Reset password')} %}
<h2 class="text-secondary font-condensed-light p-2">
  <i class="fa-solid fa-key me-2"></i>{{ translate('Reset password') }}
</h2>
{% include 'php-auth/message.html' %}
<form class="row g-3 ajax" action="{{ route }}?auth=forgot-password" method="POST" id="auth">
  <div class="col-12">
    <input class="form-control shadow-none" required type="text" placeholder="{{ translate('Email') }}" value="{{ email }}" name="email" id="email">
  </div>
  <div class="col-12">
    <small class="text-secondary">{{ translate('Enter your email and we will send you instructions to reset your password.') }}</small>
  </div>
  <div class="col-12">
    <button class="btn btn-primary bg-gradient shadow w-100 p-2" type="submit">{{ translate('Submit') }}</button>
    <hr class="text-secondary">
  </div>
  <div class="col-12">
    <p class="text-center mb-0">
      <i class="fa-solid fa-lock text-secondary me-2"></i><a class="text-secondary ajax" href="{{ route }}">Login</a>
    </p>
  </div>
</form>
{% include 'php-auth/footer.html' %}
