{% include 'php-auth/header.html' with {subtitle: translate('Reset password')} %}
<h2 class="text-secondary font-condensed-light p-2">
  {{ translate('Reset password') }}
</h2>
{% include 'php-auth/message.html' %}
<form class="row g-3 ajax" action="{{ route }}?auth=reset-password" method="POST" id="auth">
  <div class="col-12">
    <input class="form-control shadow-none" required type="password" placeholder="{{ translate('New password') }}" name="password1" id="password1">
  </div>
  <div class="col-12">
    <input class="form-control shadow-none" required type="password" placeholder="{{ translate('Confirm password') }}" name="password2" id="password2">
  </div>
  <div class="col-12">
    <small class="text-secondary">{{ translate('Use eight or more characters') }}</small>
  </div>
  <div class="col-12">
    <input type="hidden" value="{{ selector }}" name="selector">
    <input type="hidden" value="{{ token }}" name="token">
    <button class="btn btn-primary bg-gradient shadow w-100 p-2" type="submit">{{ translate('Reset password') }}</button>
    <hr class="text-secondary">
  </div>
  <div class="col-12">
    <p class="text-center mb-0">
      <i class="fa-solid fa-lock text-secondary me-2"></i><a class="text-secondary" href="{{ route }}">Login</a>
    </p>
  </div>
</form>
{% include 'php-auth/footer.html' %}
